name: IT

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:

      - uses: actions/checkout@v2

      - uses: actions/setup-java@v5
        with:
          java-version: '21'
          java-package: jdk
          distribution: temurin
          cache: maven

      - name: Ensure br_netfilter is enabled.
        run: |
          sudo modprobe br_netfilter
#
#      - name: Run integration tests
#        run: |
#          mvn clean package -DskipTests -Dnative -Dquarkus.container-image.build=true
#          mvn clean install -Pk8s-it