name: Release

on:
  push:
    branches:
      - main

env:
  REGISTRY: quay.io
  REPOSITORY: fiware

jobs:
  generate-version:
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.out.outputs.version }}

    steps:
      - uses: actions/checkout@v2

      - id: pr
        uses: actions-ecosystem/action-get-merged-pull-request@v1.0.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: zwaldowski/semver-release-action@v2
        with:
          dry_run: true
          bump: ${{ steps.pr.outputs.labels || 'patch' }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set version output
        id: out
        run: echo "::set-output name=version::$(echo ${VERSION})"

    # image build&push
  build-arm:
    needs: [ "generate-version" ]
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v5
        with:
          java-version: '21'
          java-package: jdk
          cache: maven
          distribution: temurin

      - name: Log into quay.io
        run: docker login -u "${{ secrets.QUAY_USERNAME }}" -p "${{ secrets.QUAY_PASSWORD }}" ${{ env.REGISTRY }}

      - name: Build image
        run: |
          mvn versions:set -DnewVersion=${{ needs.generate-version.outputs.version }}
          mvn clean package \
            -Dquarkus.package.type=native \
            -Dquarkus.container-image.build=true \
            -Dquarkus.jib.platforms=linux/arm64 \
            -Dquarkus.container-image.tag=${{ needs.generate-version.outputs.version }}-arm64 \
            -Dquarkus.container-image.registry="${{ env.REGISTRY }}" \
            -Dquarkus.container-image.group="${{ env.REPOSITORY }}"

      - name: Ensure br_netfilter is enabled.
        run: |
          sudo modprobe br_netfilter

      - name: Test image
        run: |
          mvn integration-test -Pk8s-it  -DskipTests -Dquarkus.container-image.tag=${{ needs.generate-version.outputs.version }}-arm64 -Dquarkus.container-image.registry="${{ env.REGISTRY }}" -Dquarkus.container-image.group="${{ env.REPOSITORY }}"

      - name: Push
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/odrl-pap:${{ needs.generate-version.outputs.version }}-arm64

  build-amd:
    needs: [ "generate-version" ]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v5
        with:
          java-version: '21'
          java-package: jdk
          cache: maven
          distribution: temurin

      - name: Log into quay.io
        run: docker login -u "${{ secrets.QUAY_USERNAME }}" -p "${{ secrets.QUAY_PASSWORD }}" ${{ env.REGISTRY }}

      - name: Build image
        run: |
          mvn versions:set -DnewVersion=${{ needs.generate-version.outputs.version }}
          mvn clean package \
            -Dquarkus.package.type=native \
            -Dquarkus.container-image.build=true \
            -Dquarkus.jib.platforms=linux/amd64 \
            -Dquarkus.container-image.tag=${{ needs.generate-version.outputs.version }}-amd64 \
            -Dquarkus.container-image.registry="${{ env.REGISTRY }}" \
            -Dquarkus.container-image.group="${{ env.REPOSITORY }}"

      - name: Ensure br_netfilter is enabled.
        run: |
          sudo modprobe br_netfilter

      - name: Test image
        run: |
          mvn integration-test -Pk8s-it  -DskipTests -Dquarkus.container-image.tag=${{ needs.generate-version.outputs.version }}-amd64 -Dquarkus.container-image.registry="${{ env.REGISTRY }}" -Dquarkus.container-image.group="${{ env.REPOSITORY }}"

      - name: Push
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/odrl-pap:${{ needs.generate-version.outputs.version }}-amd64


  multi-arch:
    needs: [ "generate-version","build-amd","build-arm" ]
    runs-on: ubuntu-latest

    steps:
      - name: Log into quay.io
        run: docker login -u "${{ secrets.QUAY_USERNAME }}" -p "${{ secrets.QUAY_PASSWORD }}" ${{ env.REGISTRY }}

      - name: Create and push manifest
        run: |
          docker manifest create ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/odrl-pap:${{ needs.generate-version.outputs.version }} \
            ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/odrl-pap:${{ needs.generate-version.outputs.version }}-amd64 \
            ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/odrl-pap:${{ needs.generate-version.outputs.version }}-arm64
          
          docker manifest push ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/odrl-pap:${{ needs.generate-version.outputs.version }}

  git-release:
    needs: [ "generate-version","multi-arch" ]
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: ${{ needs.generate-version.outputs.version }}
          prerelease: false
          title: ${{ needs.generate-version.outputs.version }}
          files: |
            LICENSE
