name: Test

on:
  push:

env:
  OPA_VERSION: 1.12.3

jobs:
  opa-test:
    name: Run OPA tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup OPA
        uses: open-policy-agent/setup-opa@v2
        with:
          version: ${{ env.OPA_VERSION }}

      - name: Run OPA tests
        run: opa test src/main/resources/rego
